## generate a fake correct pts text file

In [1]:
import ee 
import geemap
from sepal_ui.scripts import mapping as sepalmap

ee.Initialize()

Map = sepalmap.init_map()[1]
Map

Map(center=[0, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text'â€¦

In [2]:
#create a false list of points
import shapely.geometry as sg 
from faker import Faker
from decimal import Decimal
import geopandas

Faker.seed(0)
fake = Faker()

points_nb = 5

#create the point list 
pts = [fake.location_on_land(coords_only=True) for _ in range(points_nb)]

#create the markers 
markers = [geemap.Marker(location=pt, draggable=False) for pt in pts]

#display on the map
marker_cluster = geemap.MarkerCluster(markers=tuple(markers))
Map.add_layer(marker_cluster)

In [3]:
#transform the points into a file store at the root directory of sepal 
import os 
import pandas as pd

df = pd.DataFrame([[index, pt[0], pt[1]] for index, pt in enumerate(pts)], columns=['id', 'lat', 'lng'])
root_dir = os.path.expanduser('~')

df.to_csv(root_dir + '/test_pts.txt', index=False)
df

   id       lat        lng
0   0  38.70734  -77.02303
1   1   34.5624   38.28402
2   2  30.21121    74.4818
3   3  38.10558   -1.86343
4   4        35  136.51667

In [4]:
dr = pd.read_csv(root_dir + '/test_pts.txt')
dr

   id       lat        lng
0   0  38.70734  -77.02303
1   1  34.56240   38.28402
2   2  30.21121   74.48180
3   3  38.10558   -1.86343
4   4  35.00000  136.51667

In [5]:
list(dr.columns)

['id', 'lat', 'lng']