## generate a fake correct pts text file

In [1]:
import ee 
import geemap
from sepal_ui.scripts import mapping as sepalmap

ee.Initialize()

Map = sepalmap.init_map()[1]
Map

Map(center=[0, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text'…

In [2]:
#create a false list of points
import shapely.geometry as sg 
from faker import Faker
from decimal import Decimal
import geopandas

Faker.seed(0)
fake = Faker()

points_nb = 100

pts = []
for i in range(points_nb):
    point = (float(fake.latitude()), float(fake.longitude()))
    pts.append(point)

markers = []
for index, pt in enumerate(pts):
    
    marker = geemap.Marker(location=pt, draggable=False, title=str(index))
    
    markers.append(marker)

#display on the map
marker_cluster = geemap.MarkerCluster(markers=tuple(markers))
Map.add_layer(marker_cluster)

In [3]:
#transform the points into a file store at the root directory of sepal 
import os 
import pandas as pd

df = pd.DataFrame([[pt[0], pt[1]] for pt in pts], columns=['lat', 'lng'])
root_dir = os.path.expanduser('~')

df.to_csv(root_dir + '/test_pts.txt', index=False)
df

          lat         lng
0   13.413500   45.792650
1  -79.132557  -40.995129
2   47.244262   80.880444
3   18.698680  -17.160223
4   37.935520   12.226293
..        ...         ...
95  62.946078  -89.040858
96 -35.396287 -148.834139
97 -47.531194  -93.051569
98   1.888823  104.259309
99 -22.706629 -117.071834

[100 rows x 2 columns]

In [4]:
dr = pd.read_csv(root_dir + '/test_pts.txt')
dr

          lat         lng
0   13.413500   45.792650
1  -79.132557  -40.995129
2   47.244262   80.880444
3   18.698680  -17.160223
4   37.935520   12.226293
..        ...         ...
95  62.946079  -89.040858
96 -35.396287 -148.834139
97 -47.531194  -93.051569
98   1.888823  104.259309
99 -22.706630 -117.071834

[100 rows x 2 columns]

In [6]:
list(dr.columns)

['lat', 'lng']